.promotionpage{
        display: flex;
        position: fixed;
}
.promotionpagemiddle_Header{
        padding: 10px 50px;
}
.promotionpagemiddle_Header_bottom{
        font-size: 45px;
        width: 600px;
}
.promotionpagemiddle_bottom{
        border: 1px solid red;
        width: 600px;
        margin: 0px 50px;
        padding: 10px 10px;
}
.promotionpagemiddle_bottom_top_img{
        height: 350px;
        border-radius: 10px;
        object-fit: contain;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
}
.promotionpagemiddle_bottom_top_img>img{
        object-fit: contain;
}