.sidebar_top_logo>img{
        height: 30px;
}
.sidebar{

        border-right: 1px solid lightgray;
        width: 230px;
        padding: 0 20px;
        transition: 1s;
        margin-left: -270px;
}

.sidebar{
        overflow-y: scroll;
        overflow-x: unset;
        scrollbar-width: none;
        -ms-overflow-style: none;
        height: 93vh;
    
    }
    .sidebar::-webkit-scrollbar{
        display: none;
    }

    

.sidebar_bottom_option_text{
        margin-left: 20px;
}
.sidebar_top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        margin-top: 20px;
      
}
.sidebsr_top_notification{
        color: gray;
}
.sidebar_top_close{
        color: gray;
}
.sidebar_top_close:hover{
    color: red;
}
.sidebar_bottom_option{
        color: gray;
        display: flex;
        align-items: center;
        padding: 5px 20px;
        border-radius: 15px;
        transition: 0.5s;
}
.sidebar_bottom_option:hover{
        background-color: whitesmoke;
        transition: 0.5s;
        color: rgb(0, 55, 255);
}


.header__input{
        display: flex;
        align-items: center;
        background-color: #eff2f5;
        padding: 8px 10px;
        border-radius: 10px;
        color: #acacac;
        margin-right: 20px;
        align-items: center;
        text-align: center;
        font-size: 2px;
        max-width: 200px;
        margin-top: 100px;
}
      .search__icon{
        margin: 0 10px;
      }
      .header__input > input {
        background: none;
        outline: none;
        border: none;
        line-height: 2;
        font-weight: 400;
        font-size: 1.1rem;
        color: #333;
        width: 130px;
      }
.sidebar_bottom_bottom{
        display: flex;
        align-items: center;
        padding: 10px 0px;
        margin-top: 20px;
        margin-bottom: 10px;
        justify-content: space-between;
}
.dark_toggle{
        background-color: rgb(232, 232, 232);
        width: 70px;
        height: 20px;
        padding: 6px;
        align-items: center;
        border-radius: 15px;
}
.toggle_button{
        padding: 12px;
        background-color: rgb(0, 106, 255);
        width: 0px;
        border-radius: 999px;
        margin: -4px;
        box-shadow: 0px 10px 50px whitesmoke;
        border: 2px solid white;
        transition: 0.6s;

}