.bottomnavigation{
        justify-content: space-between;
        display: flex;
        padding: 0 20px;
        justify-self: flex-end;
        border-top: 1px solid lightgray;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

}
.bottomnavigation>Button{
        color: gray;
}
.bottomnavigation_button:hover{
     color: blue;
}