
.viscle_mobile_exchangemiddlebottomleft{
        margin: 20px 20px;
        border-radius: 20px;
        border: 1px solid lightgray;
}
.viscle_mobile_exchangemiddle_bottom_left{
        border: 1px solid lightgray;
        border-radius: 30px;
}

.viscle_mobile_Exchange_Middle_Bottom_Left_header{
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        box-shadow: 0px 5px 8px -8px rgba(0, 0, 0, 0.75);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
}
.viscle_mobile_Exchange_Middle_Bottom_Left_header_buttons{
     width: 100%;
     justify-content: space-around;
     display: flex;
}
.viscle_mobile_Exchange_Middle_Bottom_Left_header_buttons>Button{
    border-radius: 30px;
    text-transform: initial;
    margin: 0 10px;
    align-items: center;
    width: 130px;
    height: 40px;
    color: gray;
}
.viscle_mobile_Exchange_Middle_Bottom_Left_header_buttons>Button:hover{
        color: blue;
        transition: 0.3s;
}
.viscle_mobile_Exchange_Middle_Bottom_Left_header_right_icons{
        display: flex;
        align-items: center;
        margin: 0 10px; 
        width: 100%;
        justify-content: space-between;
}
.viscle_mobile_Exchange_Middle_Bottom_Left_header_right_icon{
        display: flex;
        align-items: center;
        margin: 0 8px;
        color: rgb(96, 96, 96);
        border-radius: 20px;
        padding: 0 5px;
        max-height: 35px;
        cursor: pointer;
        font-size: small;
        margin-right: 10px;

}
.viscle_mobile_Exchange_Middle_Bottom_Left_header_right_icon>.MuiSvgIcon-root{
        margin-right: 10px;
}
.viscle_mobile_Exchange_Middle_Bottom_Left_header_right_icon_launch{
        display: flex;
        align-items: center;
        margin: 0 8px;
        color: rgb(96, 96, 96);
        border-radius: 20px;
        padding: 0 6px;
        max-height: 35px;
        cursor: pointer;
        font-size: medium;
}
.viscle_mobile_Exchange_Middle_Bottom_Left_header_right_icon_launch>.MuiSvgIcon-root,.Exchange_Middle_Bottom_Left_header_right_icon>.MuiSvgIcon-root{
     font-size: 21px;
}

.viscle_mobile_Exchange_Middle_Bottom_Left_header_right_icon:hover{
        background-color: aliceblue;
        transition: 0.1s;
        transform: scale(1.02);
        cursor: pointer;
        color: blue;
}
.viscle_mobile_Exchange_Middle_Bottom_Left_header_right_icon_launch:hover{
        background-color: aliceblue;
        transition: 0.1s;
        transform: scale(1.02);
        cursor: pointer;
        color: red;
}
.viscle_mobile_exchangemiddle_bottom_left_middle_body_header{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
}
.viscle_mobile_exchangemiddle_bottom_left_middle_body_header_box{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
}
.viscle_mobile_exchangemiddle_bottom_left_middle_body{
        border: 0.5px solid lightgray;
        border-bottom: none;
        border-left: none;
        width: 76%;
}
.viscle_mobile_exchangemiddle_bottom_left_middle_body_header_box-icon{
        margin-right: 8px;
        color: gray;
        font-size: small;
}
.viscle_mobile_exchangemiddle_bottom_left_middle_body_header_box_text{
        font-size: small;
        color: orangered;
        margin-right: 20px;
}

.viscle_mobile_exchangemiddle_bottom_left_middle_body_insight_box{
        width: 100%;
        cursor: pointer;
        object-fit: contain; 
}
.viscle_mobile_exchangemiddle_bottom_left_middle_body_insight_box>img{
        object-fit: contain; 
        width: 100%;
        height: 295px;
}
.viscle_mobile_exchangemiddle_bottom_left_middle{
        display: flex;
        height: 300px;
}
.viscle_mobile_exchangemiddle_bottom_left_middle_body_widget{
        width: 120px;
        align-items: center;
        justify-content: space-around;
}
.viscle_mobile_exchangemiddle_bottom_left_middle_body_widget>p{
        align-items: center;
        justify-content: space-around;
        color: gray;
        padding: 6.3px 20px;
        cursor: pointer;
        border-radius: 20px;
}
.viscle_mobile_exchangemiddle_bottom_left_middle_body_widget>p:hover{
        color: white;
        background-color: black;
        transition: 0.5s;
}
.viscle_mobile_Exchange_Middle_Bottom_Left_Bottom{
        display: flex;
        border-top: 0.3px solid lightgray;
        border-right: none;
        border-left: none;
        padding: 0 10px;
        justify-content: space-between;
}
.viscle_mobile_Exchange_Middle_Bottom_Left_Bottom>p{
        cursor: pointer;
        color: gray;
}
.viscle_mobile_Exchange_Middle_Bottom_Left_Bottom>p:hover{
        color: rgb(0, 94, 255);
}